.card {
  width: 80px;
  height: 120px;
  border-radius: 10px;
  box-shadow: 2px 2px 5px rgba(0,0,0,0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 24px;
  font-weight: bold;
  color: #fff;
  margin: 4px;
  transition: transform 0.2s;
}

.card img {
  width: 85px;
  height: auto;
  object-fit: cover;
  border-radius: 10px;
}

.clickable:hover {
  transform: translateY(-6px);
  cursor: pointer;
}

.disabled {
  pointer-events: none;
  opacity: 0.9;
}

.playable {
  border: 5px solid blue; }

